<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.3.xsd
		http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring-1.2.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd">

<context:component-scan base-package="com.pick.you" />

<context:property-placeholder location="classpath:config/database.properties"/>
<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close" >
  <property name="driverClassName"  value="${jdbc.driver}" /> 
  <property name="url"  value="${jdbc.url}" /> 
  <property name="username"  value="${jdbc.username}" /> 
  <property name="password"  value="${jdbc.password}" /> 
</bean>

<bean id="sqlsession"  class="org.mybatis.spring.SqlSessionFactoryBean" >
 <property name="dataSource"  ref="dataSource"  />
 <property name="configLocation"  value="classpath:sql-map-config.xml" />  <!-- 여기있는 얘 이름 틀리면 아예 실행 안됨 -->
</bean>
<bean class="org.mybatis.spring.SqlSessionTemplate">
  <constructor-arg  ref="sqlsession" />
</bean>

<!-- 트랜잭션 설정  --> 
<bean id="txManager" 
    class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
  <property name="dataSource"  ref="dataSource" />
</bean>

<tx:advice id="txAdvice"  transaction-manager="txManager">
  <tx:attributes>
   <tx:method name="get*"  read-only ="true" />
   <tx:method name="*"/>
  </tx:attributes>
</tx:advice>

<aop:config proxy-target-class="true">
 <aop:pointcut  id="txPointcut" 
      expression="execution(* com.pick.you..*ServiceImpl.*(..))"/>
 <aop:advisor pointcut-ref="txPointcut" advice-ref="txAdvice"/>
</aop:config>

</beans>

